<div class="supportBlockContainer">
  <div class="supportBlock">
    <div class="block1">
      <img class="blockImg" src="https://www.svgrepo.com/show/533285/phone.svg">
      <h2>Support 24x7</h2>
      <h4>24x7 Support open</h4>
    </div>
    <div class="block2">
      <img class="blockImg" src="https://www.svgrepo.com/show/522613/money.svg">
      <h2>Reward Points</h2>
      <h4>Saving offer daily</h4>
    </div>
    <div class="block3">
      <img class="blockImg" src="https://www.svgrepo.com/show/509830/circled-group.svg">
      <h2>Love To Share</h2>
      <h4>Share with love</h4>
    </div>
    <div class="block4">
      <img class="blockImg" src="https://www.svgrepo.com/show/455717/love-message.svg">
      <h2>Love To Use</h2>
      <h4>Love the way to use</h4>
    </div>
  </div>
</div>

