<div class="customFooter">

  <div class="footerSection" id="footerSection1">
    <img class="footerLogo" src="https://www.cleaningdepotsupply.com/cdn/shop/t/12/assets/logo.png?v=10671776298964438031709579461">

    <span><img class="footerCreditLogo"   src="https://www.longislandmarinatn.com/wp-content/uploads/2017/08/Major-Credit-Card-Logo-PNG-Image.png" width=100>
</span>
  </div>

  <div class="footerSection" id="footerSection2">
    <p class="footerHeader">Help</p>
    <div class="footerDiv"><img class="footArrowIcon" src="https://uxwing.com/wp-content/themes/uxwing/download/arrow-direction/chevron-direction-right-white-icon.png"><a href="#" target="blank">Refund Policy</a></div>

    <div class="footerDiv"><img class="footArrowIcon" src="https://uxwing.com/wp-content/themes/uxwing/download/arrow-direction/chevron-direction-right-white-icon.png"><a href="#" target="blank">Legal Disclaimer</a></div>

    <div class="footerDiv"><img class="footArrowIcon" src="https://uxwing.com/wp-content/themes/uxwing/download/arrow-direction/chevron-direction-right-white-icon.png"><a href="#" target="blank">Privacy Policy</a></div>

    <div class="footerDiv"><img class="footArrowIcon" src="https://uxwing.com/wp-content/themes/uxwing/download/arrow-direction/chevron-direction-right-white-icon.png"><a href="#" target="blank">Shipping & Returns</a></div>

  </div>



  <div class="footerSection" id="footerSection3">
    <p class="footerHeader" >Contact Us</p>

    <div class="footerDiv"><img class="footArrowIcon" src="https://www.svgrepo.com/show/535439/home-1.svg"><a href="#" target="blank">8298 pine rd Tamarac, FL 33321</a></div>

    <div class="footerDiv"><img class="footArrowIcon" src="https://www.svgrepo.com/show/535565/phone.svg"><a href="#" target="blank">954-635-7908</a></div>

    <div class="footerDiv"><img class="footArrowIcon" src="https://www.svgrepo.com/show/480913/earth-12.svg"><a href="#" target="blank">Cleaningdepotsupplies.com</a></div>

    <div class="footerDiv"><img class="footArrowIcon" src="https://www.svgrepo.com/show/511917/email-1572.svg"><a href="#" target="blank">customercare@cleaningsupplydepot.com</a></div>

  </div>
</div>