<div class="Headerwrapper1">
  <div class="logoSection">
    <a href="#"><img src="https://www.cleaningdepotsupply.com/cdn/shop/t/12/assets/logo.png?v=10671776298964438031709579461"></a>
  </div>

  <div class="sectionOne">
    <div class="upperHeader">
      <div class="upperHeaderDiv"><img class="upperHeaderIcon"  src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/phone-call-white-icon.png">
        <a id="number" href="#">
          954-635-7908
        </a>
      </div>
      <div class="upperHeaderDiv"><img class="upperHeaderIcon"  src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/email-envelope-white-icon.png">
        <a href="https://www.google.com" target="_blank">
          customercare@cleaninsupplies.com
        </a>
      </div>

      <div class="upperHeaderDiv"><img class="upperHeaderIcon"  src="https://static-00.iconduck.com/assets.00/address-icon-1620x2048-3s4bnjam.png">
        <a href="https://www.google.com" target="_blank">
          8298 pine rd Tamarac FL, 33321
        </a>
      </div>
    </div>
  </div>
</div>