<div class="sectionOne">
    <div class="upperHeader">
      <div class="upperHeaderDiv"><img class="upperHeaderIcon"  src="https://www.svgrepo.com/show/535565/phone.svg">
        <a id="number" href="#">
          954-635-7908
        </a>
    </div>
      <div class="upperHeaderDiv"><img class="upperHeaderIcon"  src="https://www.svgrepo.com/show/511921/email-1573.svg">
        <a href="https://www.google.com" target="_blank">
          customercare@cleaninsupplies.com
        </a>
      </div>

      <div class="upperHeaderDiv"><img class="upperHeaderIcon"  src="https://www.svgrepo.com/show/418984/address-location-map.svg">
        <a href="https://www.google.com" target="_blank">
          8298 pine rd Tamarac FL, 33321
        </a>
      </div>
    </div>
</div>