/*CUSTOM CSS BY OMAR */
.js{
    padding: 0;
    background-color:red;
  }
  .gradient{
    margin:0;
    padding:0;
    background-color:0;
           }
.collection-list-wrapper{
  background-color:0;
}
.card__heading{
  max-height:580px;
}
.image1, .image2{
  width: 100%;
}
.image2{
  display:none;
}

.Headerwrapper1{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
/*FIRST HEADER*/
a{
    text-decoration: none;
    color: #ffffff;
}
a:visited {text-decoration: none;
color: #ffffff;
}
.upperHeader {
    text-align:left;
    flex-wrap: wrap;
    font-size: 1.1em;
    background-color: 0;
    padding:10px;
    display: flex;
    gap: 20px;
    font-weight: bold;
    width: 100%;
    margin: 20px auto 0 auto;
}
.upperHeaderDiv {
    background-color: 0;
    color: white;
    display: flex;
    justify-content: left;
    align-content: center;
  align-items:center;

}
.address {
    margin-right: auto;
}
a {
    text-decoration: none;
}
.upperHeaderIcon {
    width: .9em;
  height:.9em;
    background-color: 0;
    margin-right: 5px;
}

/*FIRST HEADER END*/

/*HEADER 2 (LOGO)*/
.logoSection {
    background-color: rgba(210, 170, 28, 0);
    position: relative;
    height: 60px;
}
.logoSection img {
    width: 250px;
    position: relative;
    z-index: 2;
}

/*END HEADER 2*/

/*SUPPORT BANNER*/
.supportBlockContainer {
    background-color: rgba(255, 192, 203, 0);
    padding:10px;
    height: auto;
}
.supportBlock {
    display: flex;
    flex-flow: wrap;
    background-color: rgba(173, 255, 47, 0);
    text-align: center;
    justify-content: space-around;
}
.blockImg {
    width: 40px;
}
.block1,
.block2,
.block3,
.block4 {
    border-right: solid 1px #e0e0e0;
    text-align: center;
    background-color: 0;
    width: 25%;
}
.block4 {
    border:none;
}
.block1 {
}
header-wrapper {
    padding: 0;
    background-color: 0;
    overflow: visible;
    display: flex;
    flex-flow: row;
}
.header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: 0;
    width: 100%;
    overflow: visible;
    padding: 0;
}

/*FOOTER*/
.customFooter {
    font-family: Verdana;
    background-color: #181818;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    gap: 10px;
    border-top: solid 4px #ebe6e6;
}
.footerSection {
    background-color: rgba(0, 128, 0, 0);
    color: white;
    display: flex;
    flex-flow: column;
    gap: 20px;
    margin: 30px;

}
#footerSection1{
    background-color: rgba(0, 0, 255, 0);
}
.footerLogo {
    width: 150px;
}
.footerCreditLogo {
    width: 150px;

}
#footerSection3,
#footerSection2 {
    color: white;
    text-align: left;
    display: flex;
    flex-flow: column;
}
.footerSection a {
    color: white;
    text-decoration: none;
}
.footerHeader {
    font-weight: bold;
    font-size: 22px;
    margin: 0;
}
.footArrowIcon {
    width: 20px;
    color: white;
    background-color: white;
}
.footerDiv {
    display: flex;
    gap: 6px;
}
/*FOOTER END*/
/*FOOTER BANNER*/
.footerBanner{
    display: flex;
    padding: 10px 20px;
    color: white;
    background-color: #212121;
    justify-content: space-between;
}
.footerBannerSection1{
    background-color: rgba(173, 255, 47, 0);
    align-content: center;
}
.footerBannerSection2{
    background-color: rgba(255, 64, 47, 0);
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}
.footerBannerSection2 svg{
    border-radius: 50%;
    border: 0 solid white;
    padding: 4px;
    width: 50px;
    margin-top:5px;
}
.footerBannerSection2 svg:hover{
    background-color: #d2aa1c;
    cursor: pointer;
    border-radius: 50%;
}



@media screen and (max-width: 1000px) {

  .image2{
  display:block;
}
  .image1{
  display:none;
}
  
    .supportBlock {
        background-color: green;
        display: flex;
      flex-wrap: wrap;
        align-items: center;
    }
    .block1,
    .block2,
    .block3,
    .block4 {
        border-right: none;
        border-bottom: solid 1px #e0e0e0;
        background-color: rgba(233, 150, 122, 0);
        margin-bottom: 10px;
    }
    .block4 {
        border-bottom: none;
    }
    .header {
        justify-content: right;
        padding-right: 10px;
    }
}
/*SUPPORT BANNER END*/



@media screen and (max-width: 1300px) {
  
  .upperHeader {
    background-color: 0;
    flex-flow: column;
    gap: 1px;
  }
  .address {
    margin: 0;
  }
  
  .search-modal__content{
    margin-top:200px;
  }

  .collection-list-wrapper{
  padding:0;
}


  .bannerSection img{
    height:70vh;
  }
}




















